  <%= render partial: 'new' %>
  <br />
  <div class="container mx-auto bg-gray-100 border-solid border border-gray-400 rounded">
    <% @myx.each do |myx| %>
      <%= myx.message %>
    <% end %>
  </div>
