<div class="modal-overlay absolute rounded-lg w-full h-full bg-gray-200 opacity-75"></div>
  <div class="rounded mt-4 px-8 pt-6 pb-8 mb-4 text-center", style="display:contents;"> 
    <div class="pt-10 pb-10 modal mx-auto object-center bg-teal-500 rounded-lg">
      <i id="in-close" class="fas fa-window-close text-white text-3xl cursor-pointer", style="margin-left:85%;"></i>
      <h1 class="text-2xl text-white font-bold">Send Message</h1><br />
      <%= form_with model: @message do |form| %>
        <%= form.text_area :body %>  
      <% end %>
    </div>
  </div>